
/* SOLARIZED COLORS
   ================ */

@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

/* SOLARIZED LIGHT
   =============== */

body {
    &,
    .navbar,
    .navbar-toggle .icon-bar {
        background-color: @base3;
        color: @base00;
    }
    
    .jumbotron,
    .bcr-header-stripe,
    .btn-xs,
    .navbar-toggle {
        background-color: @base2;
    }

    .btn-xs {
        color: @base01;
    }

    h2, h5 {
        color: @magenta;
    }

    h4, a {
        color: @cyan;
    }

    .nav li a:hover,
    .nav li a:focus,
    a:hover,
    a:focus {
        outline: none;
        background-color: transparent;
        color: @blue;
    }
}

/* SOLARIZED DARK
   ============== */

body.dark {
    &,
    .navbar,
    .navbar-toggle .icon-bar {
        background-color: @base03;
        color: @base0;
    }

    .jumbotron,
    .bcr-header-stripe,
    .btn-xs,
    .navbar-toggle {
        background-color: @base02;
    }

    .btn-xs {
        color: @base1;
    }

    h2, h5 {
        color: @orange;
    }

    h4, a {
        color: @green;
    }

    .nav li a:hover,
    .nav li a:focus,
    a:hover,
    a:focus {
        outline: none;
        background-color: transparent;
        color: @cyan;
    }
}

/* LAYOUT
   ====== */

@nav-bar-height: 100px;

body {
    padding-top: @nav-bar-height;
    padding-bottom: 20px;
}

.navbar {
    min-height: @nav-bar-height;
    box-shadow: 0px 1px 10px #474747;
}

.navbar .container > div {
    margin-top: 25px;
}

.navbar-right {
    padding-bottom: 10px;
}

.navbar li a {
    text-transform: uppercase;
}

.bcr-profile p {
    font-family: "Courier New", Courier, monospace;
}

.bcr-profile .bcr-stat {
    font-weight: bold;
}

/* Adjust scrolling to account for fixed header */
.bcr-content .bcr-section:before {
    display: block; 
    content: " "; 
    margin-top: -@nav-bar-height; 
    height: @nav-bar-height; 
    visibility: hidden; 
}

.bcr-content > .bcr-section > div > * {
    padding-left: 20px;
    padding-right: 20px;
}

.bcr-content .bcr-header-stripe {
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
}

.thumb {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.thumb:hover {
    /* TODO opacity */
    cursor: pointer;
}

/* FONT AND IMAGE SIZES
   ==================== */

.jumbotron img {
    width: 70%;
}

#recreation-carousel {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    
    .jumbotron p {
        font-size: 20px;
    }

    .navbar a {
        font-size: 20px;
    }

    .bcr-content {
        font-size: 20px;
    }
    
    .bcr-content h5 {
        font-size: 36px;
    }

    .bcr-content h4 {
        font-size: 30px;
    }

    .bcr-content h2 {
        font-size: 48px;
    }

    footer {
        font-size: 14px;
    }

}

@media (max-width: 767px) {
    
    /* NAV BAR HEIGHT ADJUSTMENT
       ========================= */

    @nav-bar-thin-height: 50px;

    body {
        padding-top: @nav-bar-thin-height;
    }

    .navbar {
        min-height: @nav-bar-thin-height;
    }

    .bcr-content .bcr-section:before {
        margin-top: -@nav-bar-thin-height; 
        height: @nav-bar-thin-height; 
    }

    .navbar .container > div {
        margin-top: 0px;
    }

    /* CONTAINER WIDTH ADJUSTMENT
       ========================== */

    .container.bcr-content,
    .container.bcr-content .row > div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container.bcr-content .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .bcr-content h4,
    .bcr-content h2,
    .bcr-content p {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* IMAGE SIZE ADJUSTMENT
       ===================== */

    .thumb {
        width: 60%;
    }

    /* FONT SIZE ADJUSTMENT
       ==================== */
    
    .jumbotron p {
        font-size: 16px;
    }

    .navbar a {
        font-size: 16px;
    }

    .bcr-content {
        font-size: 16px;
    }
    
    .bcr-content h5 {
        font-size: 24px;
    }

    .bcr-content h4 {
        font-size: 20px;
    }

    .bcr-content h2 {
        font-size: 30px;
    }

    footer {
        font-size: 11px;
    }

}
